body{
    font-family: "Comic Sans MS", "Comic Sans"; 
    color: #1f1e06;
    background-color:  #f4f1fc;
}
.top-navbar {
    position: sticky;
    background-color:#8cb1e8;
    width:100%;
    padding:10px;
    height:20%;
}
.top {
    display: flex;
    justify-content: center;
}
.full-container {
    width:100%;
    height:2500px;
}

.main-container {
    display:flex;
    height:100%
}

.suggested-container {
    display:flex;
    justify-content: center;
    height: 500px;
}

.suggested1 {
    background-color: salmon;
    width:200px;
    padding:30px;
    margin:30px;
}

.suggested2 {
    background-color: salmon;
    width:200px;
    padding:30px;
    margin:30px;
}

.suggested3 {
    background-color: salmon;
    width:200px;
    padding:30px;
    margin:30px;
}


.side-bar{
    width: 20%;
    height: 100%;
    background-color: #d6d22e;
}
.test-div{
    height: 1048 px;
    width: 100%;
}