body{

}
.top-navbar {
    position: sticky;
    background:red;
    width:95%;
    padding:10px;
    margin:25px;
    height:20%;
}
.top {
    display: flex;
    justify-content: center;
}
.full-container {
    background: gray;
    width:100%;
    height:2500px;
}